@model CourseSelect.Models.RegisterModel
<h2>Registering</h2>
<form method="post" asp-controller="Account" asp-action="Register" style="max-width: 300px">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Credit"></label><br />
        <input asp-for="Credit" class="form-control" />
        <span asp-validation-for="Credit"></span>
    </div>
    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Surname"></label><br />
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" class="form-control"/>
        <span asp-validation-for="Password"></span>
    </div>
    <br />
    <div >
        <input class="btn btn-primary" type="submit" value="Register" />
    </div>
</form>